@media (max-width:425px){
    .menu{
        height: 20vh;
    }

    .limita-menu{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .menu h1{
        padding: 10px;
    }
   
    nav{
        padding: 10px 0;
        margin-bottom: 10px;
        border-top: 2px solid #94D3D7;
        font-size: 10px;
        text-align: center; /* Colocando os links de forma centralizada quando quebrarem de linha */
    }

    .main-banner{
        justify-content: space-between;
    }

    .banner-icons a:first-of-type{
        margin-top: 80px;
    }

    .banner-apresentacao p:first-of-type{
        margin-top: 65px;
    }

    .profile-image{
        display: none;
    }

    .texto-container-sobre{
        max-width: 380px;
        width: 100%;
    }

    .habilidades{
        width: 350px;
    }

}

@media (max-width:768px){
    .main-banner{
        padding: 65px 20px;
    }

    .sobre-experiencia{
        flex-direction: column;
    }

    .texto-container-sobre{
        max-width: 600px;  /*Alteração da largura fixa para uma largura dinâmica*/
    } 


    .card-experiencia{
        margin: 0 auto;
    }

    .container-habilidades{
        height: 1000px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px 0;
    }

    .limita-habilidades{
        height: 100%;
    }


    .imagem-projeto{
        width: 100%;
        height: 150px;
    }
}
